.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 1);
    transition: all 0.7s linear;
    -webkit-transition: all 0.7s linear;
    -moz-transition: all 0.7s linear;
    -ms-transition: all 0.7s linear;
    -o-transition: all 0.7s linear;
}

.card-body{
    padding: 2rem 0 !important;
}

.card-text{
    padding: 0.3rem 1rem;
    font-size: 1rem;
}

.rounded{
    height: 200px;
    width: 200px;
    align-content: center;
}